.header__logo {
    max-width: 142px;
    max-height: 33px;
    margin: 45px 0 38px 0;
}
@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
        margin: 28px 0 28px 27px;
    }
}