.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 294px;
    margin: 0;
}
@media screen and (max-width: 400px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        margin: 0 auto;
    }
}