.popup__close {
    background-image: url(../../../images/close_button.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    right: -40px;
    top: -39px;
    position: absolute;
}
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 768px) {
    .popup__close {
        background-image: url(../../../images/close_button2.svg);
        width: 20px;
        height: 20px;
        right: 0;
        top: -37px;
    }
}