.popup__save-button {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 358px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #000000;
    margin-top: 48px;
    cursor: pointer;
}
.popup__save-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    
}
@media screen and (max-width: 1279px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 44px;
    }
}