.element {
    width: 282px;
    border-radius: 10px;
    background-color: #fff;
    height: 362px;
    justify-self: center;
    position: relative;
}
@media screen and (max-width: 510px) {
    .element {
        height: 361px;
    }
}